<div class="container p-4 mb-5" *ngIf="!profileModel || profileModel.length > 0">
    <div class="mb-4">
      <h4 class="text-uppercase font-weight-bold d-inline">My Profile</h4>
      <p>Please make sure your contact information is up to date at all times</p>
    </div>
    
    <div class="mb-4">
      <div class="row">
        <div class="col-5 col-lg-2">
            <img src="{{profileModel[0].profile_picture_url}}" class="image-circle" />
            <!-- <i class="far fa-user-circle fa-4x text-align-center col-12"></i>
            <a href="#" class="col-12">change</a> -->
        </div>
        <div class="col-7 col-lg-10">        
          <span class="font-weight-bold text-capitalize d-block">{{profileModel[0].firstname + " " +  profileModel[0].lastname}}</span>
          <ng-container *ngFor="let role of profileModel[0].roles; let isLast=last"><span>{{role.function}}{{isLast ? '' : ', '}}</span></ng-container>    
        </div>
      </div>

      <div class="row">
      <div class="col-12 mt-4">
          <ng-container *ngFor="let line of profileModel[0].address; let isLast=last">
              <span class="font-weight-bold"  *ngFor="let element of line | keyvalue">
                  {{element.value}}
                  <span *ngIf="!isLast" class="d-block"></span>
              </span>
          </ng-container>
      </div>

      <div class="col-12 col-lg-6 mt-4">
        <div>Mobile: <span class="font-weight-bold">{{profileModel[0].mobile_phone_number}}</span> </div>
        <div>E-mail: <span class="font-weight-bold">{{profileModel[0].email}}</span> </div>
      </div>

      <div class="col-12 col-lg-8 mt-4">        
        <span class="font-weight-bold d-block">Skills</span>
        <ng-container *ngFor="let function of profileModel[0].functions; let isLast=last">
          <span>{{function}}{{isLast ? '' : ', '}}</span>
        </ng-container>
      </div>

      <div class="col-12 mt-4">
        <a routerLink="/profile/jobslog" class="btn btn-light p-4 border border-secondary text-uppercase col-12 col-lg-3 mb-2 mr-2">My hours</a>
        <a routerLink="/profile/absence" class="btn btn-light p-4 border border-secondary text-uppercase col-12 col-lg-3 mb-2 mr-2">My absence</a>
        <a href="#" class="btn btn-light p-4 border border-secondary text-uppercase col-12 col-lg-3 mb-2">Files</a>
      </div>
    </div>
    
    </div>

    
  </div>
  