<ng-container *ngIf="!notes$ || notes$.length > 0">
<div class="row p-2" *ngIf="notes$ ">
  <div class="col-lg-6 col-md-12 makeSpace" *ngFor="let note of notes$">
        <div class="row custom-cards" *ngIf="filter === 'personal'; else loggedOut">
            <div class="col-9">
                <div class="row">
                    <div class="col-12 font-weight-bold">{{note.date.date | date:'medium'}}</div>
                    <div class="col-12"><p>{{note.body}}</p></div>
                </div>
            </div>

            <div class="col-3">
                <div class="col-12">
                    <label class="switch">
                        <input type="checkbox" (change)="arhiveNote(note.archive_url)" class="success">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <ng-template #loggedOut>
                <div class="row custom-cards">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 font-weight-bold">{{note.date.date | date:'medium'}}</div>
                                <div class="col-12"><p>{{note.body}}</p></div>
                            </div>
                        </div>
                    </div>
        </ng-template>
  </div>
</div>
</ng-container>

