<div *ngIf="!jobs || jobs.length > 0; else empty_jobs">
<div class="row p-3">
    <ng-container *ngFor="let job of jobs; let j = index;">
    <ng-container *ngIf="j < limit">
    <h5 *ngIf="currentMonth !== (job.shift.start_date | amParse:'YYYY-MM-DD kk:mm' | amDateFormat:'M') || j === 0" class="col-12 p-0 mt-2 font-weight-bold">{{job.shift.start_date | amParse:'YYYY-MM-DD kk:mm' | amDateFormat:'MMMM'}} {{setMonth(job.shift.start_date | amParse:'YYYY-MM-DD kk:mm' | amDateFormat:'M')}}</h5>
        <div class="card-custom mb-4 col-lg-6" id="item-{{j}}">
        <div class="card-custom-header row">
            <div class="col-10">
                <div class="row">
                    <h2 class="font-weight-bold mr-2 mt-1 ml-2">{{job.shift.start_date | amParse:'YYYY-MM-DD' | amDateFormat:'DD'}}</h2>
                    <div class="date-header"><span class="font-weight-bold d-block mt-1">{{job.shift.start_date | amParse:'YYYY-MM-DD' | amDateFormat:'MMMM'}}</span>
                        <span class="font-weight-bold" *ngIf="sameDayCheck(job.shift.start_date, job.shift.end_date)">{{job.shift.start_date | amParse:'YYYY-MM-DD kk:mm' | amDateFormat:'ddd kk:mm' }} - {{ job.shift.end_date | amParse:'YYYY-MM-DD kk:mm' | amDateFormat:'kk:mm' }}</span>
                        <span class="font-weight-bold" *ngIf="!sameDayCheck(job.shift.start_date, job.shift.end_date)">{{job.shift.start_date | amParse:'YYYY-MM-DD kk:mm' | amDateFormat:'ddd kk:mm' }} - {{ job.shift.end_date | amParse:'YYYY-MM-DD kk:mm' | amDateFormat:'ddd kk:mm' }}</span>
                    </div>
                </div>               
            </div>
            <div class="col-2 p-0 mt-1">
                <a target="_blank" [href]='"http://maps.google.com/?q="+job.event.location.address_flat.addressLine1+","+job.event.location.address_flat.postalCode+","+job.event.location.address_flat.postalName'>
                <img width="40px" class="rounded mx-auto" src="assets/img/google_maps.png"/>
                </a>
            </div>
        </div>
        <div class="card-custom-content p-3 row">
            <div class="col-10 col-lg-11">
                <span class="d-block">{{job.event.location.name}}</span>
                <h4 class="text-uppercase font-weight-bold">{{job.event.name}}</h4>
                <h4 class="text-uppercase font-weight-bold">{{job.shift.function}}</h4>
            </div>
            <div class="col-2 col-lg-1"><i [className]="job.show ? 'fas fa-chevron-circle-up' : 'fas fa-plus-circle'" (click)="job.show = !job.show"></i></div>
            <div class="col-12">                    
                <div [className]="job.show ? 'mb-2 slider' : 'mb-2 slider closed'">
                    <p *ngIf="job.event.description">{{job.event.description}}</p>
                    <div><span class="font-weight-bold">Client: </span><span>{{job.event.location.name}}</span></div>
                    <ng-container *ngIf="filterValue === 'confirmed' && job.event.contacts.length > 0">
                        <span class="font-weight-bold">Contact: </span>
                        <ng-container *ngFor="let contact of job.event.contacts">
                                <span class="mr-2">{{contact.name}}, {{contact.mobile_phone_number}}</span>
                        </ng-container>
                    </ng-container>
                    <div *ngIf="job.event.location.address_flat.addressLine1"><span class="font-weight-bold">Place: </span><span>{{job.event.location.address_flat.addressLine1 + ", " + job.event.location.address_flat.postalCode + " " + job.event.location.address_flat.postalName}}</span></div>
                </div>
            </div>
            
            <!-- <div class="" *ngIf="filterValue === 'confirmed' || filterValue === 'signedup' || filterValue === 'confirm'"> -->
                <div class="col-12 mt-2" *ngFor="let note of job.confirm_notes">
                    <i class="fas fa-info-circle text-secondary"></i><span class="ml-1">{{note.body}}</span>
                </div>
            <!-- </div> -->

            <div *ngIf="filterValue === 'signup'">
                <form #form="ngForm" (ngSubmit)="signUpSubmit(form, j)">
                <div class="form-check">                          
                    <input hidden="hidden" type="text" name="id" ngModel="{{ job.id }}">
                    <input hidden="hidden" type="text" name="_csrf_token" [ngModel]="signUpCSRF_TOKEN">
                </div>
                <fieldset ngModelGroup="checks">
                    <div class="col-12 mt-2" *ngFor="let check of job.checks; let i = index;">
                        <fieldset ngModelGroup="{{ i }}">
                        <div class="form-check">
                            <input hidden="hidden" type="text" name="id" ngModel="{{ check.id }}" ngModel>                          
                            <input type="checkbox" class="form-check-input" name="checked" [required]="check.confirm_required" ngModel>
                            <label class="form-check-label" for="checked">
                                <i class="fas fa-exclamation-triangle text-danger ml-1" *ngIf="check.confirm_required"></i>
                                <p class="ml-1 d-inline">{{check.body}}</p>
                            </label>
                        </div>
                        </fieldset>
                    </div>
                </fieldset>
                <fieldset class="form-group mt-4" [hidden]="!job.comment">
                    <textarea class="ml-3" id="commentFormControlTextarea1" name="comment" ngModel></textarea>
                </fieldset>                
                <button [disabled]="!form.valid" type="submit" class="btn btn-dark mt-4 ml-3"><i class="fas fa-check text-success"></i> Sign Up</button>
                <a  class="btn btn-link mt-4"><i class="fas fa-comment" (click)="job.comment = !job.comment"></i></a>                
                <!-- <a data-toggle="modal" attr.data-target="{{'#commentModalCenter'+job.id}}" class="btn btn-link mt-4"><i class="fas fa-comment"></i></a>
                
                --> <!-- Modal 
                <div class="modal fade" id="{{'commentModalCenter'+job.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="commentFormControlTextarea1">Comment</label>
                                <textarea class="form-control" id="commentFormControlTextarea1" name="comment" ngModel></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div> -->

                <!-- <div class="col-12">
                    <pre><code>{{form.value | json}}</code></pre>
                </div> -->
                </form>
            </div>            

            <div class="col-12" *ngIf="filterValue === 'signedup'">
                <button (click)="deleteInterestJob(job.id, j)" class="btn btn-transparent text-uppercase p-0 mt-4 delete-btn"><i class="fas fa-times mr-1 text-danger"></i> i am no longer available</button> 
            </div>

            <div *ngIf="filterValue === 'assigned'">
                <button (click)="confirmJob(job.id, j)" class="btn btn-dark mt-4 ml-3"><i class="fas fa-check text-success"></i> Confirm</button>
            </div>
            
        </div>
    </div>
    </ng-container>
    </ng-container>
</div>
</div>
<ng-template #empty_jobs>
    <div class="alert alert-warning mt-5">No jobs here!</div>
</ng-template>
