<div class="container p-4 mb-5">
  <div class="mb-2">
        <h4 class="text-uppercase font-weight-bold">Notes for you</h4>
        <p>Please mark these notes as read so we know for sure that the message is received.</p>
  </div>    
  <div class=""><app-notes [filter] = "personal"></app-notes></div>
  <a href="#" class="float-right">See archive</a>

  <div class="mb-2 mt-5">
      <h4 class="text-uppercase font-weight-bold">General Info</h4>
  </div>
  <div class=""><app-notes [filter] = "general"></app-notes></div>
  <a href="#" class="float-right">See archive</a>

  <div class="mb-2 mt-5">
      <h4 class="text-uppercase font-weight-bold">My Jobs</h4>
  </div>
  <div class=""><app-jobs [filter] = "JobType"></app-jobs></div>

</div>
