.container {
    margin-bottom: 9em;
    margin-top: 1em;
}

.calendar-content {
    background-color: #ffff;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 2px;
    max-height: 50% !important; 
}
