<footer>
    <!-- Fixed navbar -->
    <div class="bg-dark text-light fixed-bottom p-2">
        <div class="row navbar-bottom-row">          
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="col navbar-bottom-item"><i class="fas fa-home"></i></a>                  
            <a routerLink="/myjobs" routerLinkActive="active" class="col navbar-bottom-item">My Jobs<span class="badge badge-success">{{myjob_count}}</span></a>
            <a routerLink="/confirm" routerLinkActive="active" class="col navbar-bottom-item">Confirm<span class="badge badge-warning">{{confirm_count}}</span></a>
            <a routerLink="/signup" routerLinkActive="active" class="col navbar-bottom-item">Sign Up<span class="badge badge-danger">{{signup_count}}</span></a>
            <a class="btn col navbar-bottom-item" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                  <i class="fas fa-ellipsis-v"></i></a>                                    
        </div>
        <div class="row">
          
        </div>
    </div>
      
    <div class="collapse multi-collapse fixed-bottom collapse-navbar-bottom bg-dark" id="multiCollapseExample1">
          <div class="card card-body bg-dark">
              <a class="nav-link dropdown-item navbar-bottom-dropdown-item" href="#">Link 1</a>
              <a class="nav-link dropdown-item navbar-bottom-dropdown-item" href="#">Link 1</a>
              <a class="nav-link dropdown-item navbar-bottom-dropdown-item" href="#">Link 1</a>
              <a class="nav-link dropdown-item navbar-bottom-dropdown-item" href="#">Link 1</a>
          </div>
     </div>  
  </footer>